<!DOCTYPE html>
<html lang ="en">
	<head>
		<meta charset ="UTF-8">
		<title> {{ title }} </title>
		<link rel="stylesheet" href="{{assets}}/css/highlight.css">
		<link rel="stylesheet" href="{{assets}}/css/github.css">
		<link rel="stylesheet" href="{{assets}}/css/tanlinell-css.css">
		<link rel="stylesheet" href="{{assets}}/css/docs.css">
	</head>
	<body>


		<!-- Banner
   		================================================== -->
    	{{> banner }}

		<div class="site-content">
			<main>
				<h1>{{ title }}</h1>

				{{> body }}
			</main>
		</div>

		<script src="{{assets}}/js/highlight.js"></script>
	</body>
</html>