<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{title}} | {{site.title}}</title>
		<link rel="stylesheet" href="{{assets}}/dist/tanlinell-css.css">
		<link rel="stylesheet" href="{{assets}}/github.css">
	</head>

	<body>

		<!-- Navbar
		================================================== -->
		{{> nav-primary }}


		<!-- Subhead
		================================================== -->
		<header class="banner">
			<div class="container">
				<h1> {{ uppercase site.title}} (logo)</h1>
			</div>
		</header>

		<!-- Page content
		================================================== -->
		<div class="container">
			{{> body }}
		</div>

		<script src="{{assets}}/highlight.js"></script>
	</body>
</html>